@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
  }

 
  body {
    font-family: 'Poppins', sans-serif;
  }



  .gha {
    transition: all .5s;


  }

  .gha:hover {
    transform: scale(1.25);
    filter: invert(40%) sepia(93%) saturate(4286%) hue-rotate(150deg) brightness(98%) contrast(101%);

  }



 