@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.closeBtn:hover {
  filter: invert(35%) sepia(97%) saturate(1056%) hue-rotate(137deg)
    brightness(93%) contrast(101%);
}

.scroll-reveal-container .ttt {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.scroll-reveal-container .ttt.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-reveal-container .ttt:nth-child(1) {
  transition-delay: 0.1s;
}

.scroll-reveal-container .ttt:nth-child(2) {
  transition-delay: 0.2s;
}

.scroll-reveal-container .ttt:nth-child(3) {
  transition-delay: 0.3s;
}

.scroll-reveal-container .ttt:nth-child(4) {
  transition-delay: 0.4s;
}

.fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingTitle {
  opacity: 0;
  transform: translateY(20px);

  animation: fadeInScale 0.7s ease-in-out forwards;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.fadeInOverlay {

  animation: fadeInOverlay .8s ease forwards;
  animation-delay: .4s;

}

@keyframes fadeInOverlay {

  to {

    opacity: .29
  }
  
}


.containerHeight {

height: 1000px;
animation: animateHeight 0.8s ease-in-out forwards;
animation-delay: 1.1s;

}

@keyframes animateHeight {

  to {

    height: 900px;
  }
}

.brightnessHero {

  /* object-position: 0px -40px; */
  animation: fadeIn .4s ease forwards;

}

.modal-open {
  overflow: hidden;
}

.test123 {
  word-break: break-word;
}


.formModal {
  background-color: rgba(0, 0, 0, 0.75); /* Opaque black with 70% opacity */
  
}


.errorIcon {

  filter: invert(15%) sepia(95%) saturate(7028%) hue-rotate(358deg) brightness(91%) contrast(122%);
}

.successIcon {

  filter: invert(44%) sepia(23%) saturate(6981%) hue-rotate(141deg) brightness(89%) contrast(101%);
}

.mouse {
  filter: brightness(0) invert(1);
}


.vignette-image-container {
  position: relative;
  display: inline-block;
}



.vignette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
  pointer-events: none; /* Allow clicking through the overlay */
}